<!-- Name / slug -->
<h3>{{$root.translate('select_section_options_label')}}</h3>

<div layout="row" layout-align="start center">
	<div ng-if="attrEditor.attributeModel.attributes.localized">
		<md-input-container class="md-block">
			<md-select ng-model="fieldCtrl.selectedLocale" md-selected-text="fieldCtrl.getSelectedText()" aria-label="Change locale">
				<md-option ng-repeat="locale in fieldCtrl.locales" value="{{locale.id}}">
					{{locale.attributes.name}}
				</md-option>
			</md-select>
		</md-input-container>
		<span flex></span>
	</div>
	<span flex></span>
	<md-button
		aria-label="{{$root.translate('btn_add')}} {{$root.translate('select_section_option_label')}}"
		class="md-primary md-raised"
		ng-click="fieldCtrl.addOption()"
		ng-disabled="fieldCtrl.loadingLocales">
    {{$root.translate('btn_add')}} {{$root.translate('select_section_option_label')}}
  </md-button>
</div>

<div layout-gt-sm="row" layout="column" style="height: 400px;">

	<md-content class="cb-white" flex style="background:#f5f5f5;padding:8px;">

		<div
			layout="row"
			layout-align="start center"
			class="md-whiteframe-1dp"
			ng-repeat="option in fieldCtrl.options | localizedOptions:attrEditor.attributeModel.attributes.localized:fieldCtrl.selectedLocale"
			style="background:#fff;padding:8px;margin-bottom:8px">

			<md-input-container class="md-block" flex="30">
				<label>{{$root.translate('select_value_label')}}</label>
				<input required type="text" ng-model="option.value" />
			</md-input-container>

			<md-input-container class="md-block" flex="30">
				<label>{{$root.translate('select_label_label')}}</label>
				<input required type="text" ng-model="option.label" />
			</md-input-container>

			<!-- spacer -->
			<span flex></span>

			<md-switch
				ng-model="option.default"
				ng-change="fieldCtrl.onOptionDefaultChange(option)"
				ng-true-value="1"
				ng-false-value="0"
				aria-label="Default value">
				{{$root.translate('select_default_label')}}
			</md-switch>

			<button
				class="md-button md-secondary"
				aria-label="Remove option"
				ng-click="fieldCtrl.removeOption(option)">
				{{$root.translate('btn_remove')}}
			</button>

		</div>

	</md-content>

</div>
