<!-- userPasswordForm -->
<div class="cb-view" flex layout="column">

	<!-- app subheader -->
	<md-toolbar class="app-subheader">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" ng-click="vm.discard()">
				<md-icon class="material-icons">arrow_back</md-icon>
			</md-button>
			<h3 class="app-view-title" md-truncate>
				<a ui-sref="^">{{translate('users_label')}}</a> /
				<a ng-click="vm.discard()">{{vm.model.get('name')}}</a> /
				<span>{{translate('user_change_password_label')}}</span>
			</h3>
			<span flex></span>

			<md-button class="md-raised md-accent"
				ng-click="vm.save()"
				ng-disabled="!vm.canSave()"
				aria-label="{{translate('btn_save')}}">
			  {{translate('btn_save')}}
			</md-button>

		</div>
	</md-toolbar>

	<md-content flex layout-padding class="cb-transparent">
		<div class="cb-container">
				<form novalidate user-password-editor model="vm.model"></form>
		</div>
	</md-content>
</div>
