<div class="cb-white cb-pad">

  <!-- User Password -->
  <h3>{{$root.translate('user_password_settings_label')}}</h3>
  <div layout="column">

    <md-input-container>
      <label>{{$root.translate('user_new_password_label')}}</label>
      <input type="password" name="newPassword" required ng-minlength="5" ng-model="editor.newPassword">
      <div ng-messages="editor.form.newPassword.$error">
        <div ng-message="required">{{$root.translate('user_password_required_error')}}</div>
        <div ng-message="minlength">{{$root.translate('user_password_length_error')}}</div>
      </div>

      <div class="cb-input-hint md-caption"></div>
    </md-input-container>

  </div>

</div>
