<md-content class="cb-transparent" flex layout-fill layout="column">

  <div layout="column" layout-fill flex>
    <div flex layout="row" class="app-view-content">

      <!-- General Info -->
      <md-content flex="20" layout="column">
        <md-toolbar class="cb-transparent cb-border-b">
          <div class="md-toolbar-tools">
            <h3>{{$root.translate('attribute_set_general_info_label')}}</h3>
            <span flex></span>
            <!-- <md-button
              aria-label="Create new Attribute Set"
              ng-click="null">
              New Set
            </md-button> -->
          </div>
        </md-toolbar>

        <div class="cb-pad">
          <div layout="row">
            <md-input-container flex>
              <label>{{$root.translate('attribute_set_name_label')}}</label>
              <input placeholder="{{$root.translate('attribute_set_name_placeholder')}}" required ng-minlength="3" ng-maxlength="50" name="name" ng-model="editor.model.attributes.name">
              <div ng-messages="editor.form.name.$error">
                <div ng-message="required">{{$root.translate('attribute_set_name_required_error')}}</div>
                <div ng-message="minlength">{{$root.translate('attribute_set_name_length_error')}}</div>
              </div>
              <div class="cb-input-hint md-caption"></div>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex>
              <label>{{$root.translate('attribute_set_code_label')}}</label>
              <input placeholder="{{$root.translate('attribute_set_code_placeholder')}}" required ng-minlength="3" ng-maxlength="50" name="code" ng-model="editor.model.attributes.code" attribute-set-code-unique="editor.model" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
              <div ng-messages="editor.form.code.$error">
                <div ng-message="required">{{$root.translate('attribute_set_code_required_error')}}</div>
                <div ng-message="minlength">{{$root.translate('attribute_set_code_length_error')}}</div>
                <div ng-message="unique">{{$root.translate('attribute_set_code_unique_error')}}</div>
              </div>
              <div class="cb-input-hint md-caption"></div>
            </md-input-container>
          </div>
        </div>

      </md-content>

      <!-- SET Attributes -->
      <md-content flex="50" layout="column" class="cb-white">

        <md-toolbar class="cb-white cb-border-b">
          <div class="md-toolbar-tools">
            <h3>{{$root.translate('attributes_label')}}</h3>
            <span flex></span>
          </div>
        </md-toolbar>

        <md-content class="cb-white">

          <input type="hidden" ng-model="editor.model.attributes.primary_attribute_id" name="primary_attribute_id" ng-required />

          <md-list>

            <md-list-item
              class="md-2-line"
              ng-click="null"
              ng-repeat="attribute in editor.model.attributes.attributes.models">

              <md-icon class="md-avatar-icon material-icons">
                {{ editor.getAttributeIcon(attribute) }}
              </md-icon>

              <div class="md-list-item-text">
                <h3>{{ attribute.attributes.admin_label }}<span ng-if="editor.model.attributes.primary_attribute_id == attribute.id">&nbsp;(primary)</span></h3>
                <p><code>{{ attribute.attributes.code }}</code></p>
              </div>

              <md-button
                class="md-secondary"
                aria-label="{{$root.translate('btn_remove')}}"
                ng-click="editor.removeAttributeFromSet(attribute)">
                {{$root.translate('btn_remove')}}
              </md-button>

              <!-- OPTIONS -->
              <md-menu
                class="md-secondary"
                md-position-mode="target-right target">
                <md-button aria-label="Open set menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                  <md-icon class="material-icons">more_horiz</md-icon>
                </md-button>
                <md-menu-content width="3" >
                  <md-menu-item >
                    <md-button ng-click="editor.setPrimaryAttribute(attribute)">
                      {{$root.translate('attribute_set_btn_set_primary')}}
                    </md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item >
                    <md-button ng-click="editor.editAttribute(attribute)">
                      {{$root.translate('btn_edit')}}
                    </md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                    <md-button ng-disabled="1">
                      {{$root.translate('btn_duplicate')}}
                    </md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                    <md-button ng-click="editor.deleteAttribute(attribute)">
                      {{$root.translate('btn_delete')}}
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>

              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>

          </md-list>
        </md-content>
      </md-content>

      <!-- Available Attributes -->
      <md-content flex="30" layout="column">

        <md-toolbar class="cb-transparent cb-border-b">
          <div class="md-toolbar-tools">
            <h3>{{$root.translate('attribute_set_available_attributes_label')}}</h3>
            <span flex></span>

            <md-button
              aria-label="Add new attribute"
              ng-click="editor.addAttribute()">
              {{$root.translate('btn_new')}} {{$root.translate('attribute_label')}}
            </md-button>
          </div>
        </md-toolbar>

        <div ng-if="editor.loadingAttributes" layout="row" layout-sm="column" layout-align="space-around">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <md-content ng-if="!editor.loadingAttributes">
          <md-list>
            <md-list-item
              class="md-2-line"
              ng-click="null"
              ng-repeat="attribute in editor.attributes.models | availableAttributes:editor.model.attributes.attributes:editor.contentModel">
              <div class="cb-item-loader busy" ng-show="editor.attributeBusy(attribute)">
                <md-progress-linear md-mode="query" ></md-progress-linear>
              </div>
              <md-icon class="md-avatar-icon material-icons">
                {{ editor.getAttributeIcon(attribute) }}
              </md-icon>
              <div class="md-list-item-text" layout="column">
                <h3>{{ attribute.attributes.admin_label }}</h3>
                <p><code>{{ attribute.attributes.code }}</code></p>
              </div>
              <md-button
                class="md-secondary"
                aria-label="{{$root.translate('btn_add')}}"
                ng-click="editor.addAttributeToSet(attribute)">
                {{$root.translate('btn_add')}}
              </md-button>
              <!-- OPTIONS -->
              <md-menu class="md-secondary" md-position-mode="target-right target">
                <md-button aria-label="Open set menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                  <md-icon class="material-icons">more_horiz</md-icon>
                </md-button>
                <md-menu-content width="3" >
                  <md-menu-item >
                    <md-button ng-click="editor.editAttribute(attribute)">
                      {{$root.translate('btn_edit')}}
                    </md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                    <md-button ng-disabled="1">
                      {{$root.translate('btn_duplicate')}}
                    </md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                    <md-button ng-click="editor.deleteAttribute(attribute)">
                      {{$root.translate('btn_delete')}}
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-content>

      </md-content>

    </div>
  </div>
</md-content>
