// .md-virtual-repeat-offsetter {
//   height: 300px;
// }
.cb-input-hint {
    /* Position the hint */
    // position: absolute;
    // left: 2px;
    // right: auto;
    // bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
    transform: translate(0, 0);
    opacity: 1;
    padding-top: 5px;
    padding-right: 5px;
}

.cb-input-hint.ng-hide,
.cb-input-hint.ng-enter,
.cb-input-hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0; 
}

.cb-input-hint.ng-leave,
.cb-input-hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1; 
}

.md-input-invalid {
  .cb-input-hint {
    opacity: 0;
    // transform: translate(0, 20px);
  }
}

// Grid Outer

.grid-outer {
  margin: auto;
  width: 1160px;
  padding-top:80px;
  padding-bottom:80px;
  max-width: 90%;
}

@media screen and (max-width: 1240px) {
  .grid-outer {
    width: 760px;
  }
}

@media screen and (max-width: 760px) {
  .grid-outer {
    width: 360px;
  }
}

@media screen and (max-width: 360px) {
  .grid-outer {
    width: 100%;
  }
}

// Listing
// ========================================

.listing-subheader {
  display: block;
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  margin: 0 0 0 0;
  position: relative;
  color: rgba(0,0,0,0.54);
  
  .cb-dark & {
    color: rgba(255,255,255,0.54);
  }
}

.cb-field-control {
  position: relative;
  background:#fff;
  color: rgba(0,0,0,0.87);
  margin-bottom: 16px;
  transition: all 0.3s ease-in-out;
}

.cb-field-label {
  padding: 24px;
  box-sizing:border-box;
  min-width: 33.33%;
  max-width: 33.33%;
}

.cb-field-input {
  padding: 24px 0;
  box-sizing:border-box;
  min-width: 41.66%;
  max-width: 41.66%;
  
  md-input-container {
    margin: 0;
  }
}

.cb-field-actions {
  padding: 24px;
  box-sizing:border-box;
}

.cb-field-label h3 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .010em;
    margin: 0;
    line-height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  
    padding-top: 4px;
    padding-bottom: 1px;
    line-height: 26px;
}

.cb-field-label p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .010em;
    margin: 0;
    line-height: 1.6em;
  
    color: rgba(0,0,0,0.54);
}

.cb-field-error {
  background: #ffebee;
  position: relative;
  
  &:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: #f00;
    z-index: 0;
  }
}

.cb-field-complex {
  border-top: 1px solid rgba(0,0,0,0.12);
  // debug
  min-height: 120px;
  background: #eee;
}