<!-- fileList -->
<div class="cb-view" flex layout="column" ng-show="vm.isListing()">

  <!-- app subheader -->
  <md-toolbar class="app-subheader">
    <div class="md-toolbar-tools">
      <h3 class="app-view-title">
        {{ translate('media_label') }}
      </h3>
      <span flex></span>

      <!-- sort menu -->
      <md-menu md-position-mode="target-right target" md-offset="0 60">
        <md-button 
          class="md-icon-button" 
          aria-label="{{ translate('sort_by_label') }}" 
          ng-click="vm.openSortMenu($mdOpenMenu, $event)">
            <md-icon class="material-icons">sort_by_alpha</md-icon>
        </md-button>
        <md-menu-content width="3" class="cb-caret">
            <md-menu-item ng-repeat="option in vm.sortOptions">
                <md-button ng-click="vm.setSortOption(option)">
                    <md-icon ng-class="{'hidden': vm.sortOption != option}" class="material-icons">done</md-icon>
                    {{ translate(option.label) }}
                </md-button>
            </md-menu-item>
        </md-menu-content>
      </md-menu>

    </div>
  </md-toolbar>

  <div flex layout="row" class="app-view-content">

    <!-- navigation / filters -->
    <md-sidenav
      class="cb-info-sidenav-left"
      md-component-id="info-sidenav"
      md-disable-backdrop
      md-is-open="vm.isOpenFilters()"
      md-is-locked-open="vm.isLockedOpenFilters()"
      layout="column">

      <md-toolbar class="cb-toolbar cb-white cb-border-b">
          <div class="md-toolbar-tools" layout-align="end center">
            <md-button
              aria-label="close filter"
              class="md-secondary md-icon-button"
              ng-click="vm.filtersOpened = false">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
          </div>
      </md-toolbar>

      <md-content flex layout="column" class="cb-transparent">

          <md-list class="cb-nav">

              <!-- Time Filter -->
              <md-subheader class="md-no-sticky">{{translate('date_created_label')}}</md-subheader>
              <md-list-item ng-click="vm.filterDateList()">
                  <p>{{translate('all_filter')}}</p>
              </md-list-item>
              <md-list-item ng-click="vm.filterDateList('day')">
                  <p>{{translate('today_filter')}}</p>
                  <md-checkbox class="md-secondary" ng-checked="vm.listFilterSelected.date == 'day'"></md-checkbox>
              </md-list-item>
              <md-list-item ng-click="vm.filterDateList('week')">
                  <p>{{translate('week_filter')}}</p>
                  <md-checkbox class="md-secondary" ng-checked="vm.listFilterSelected.date == 'week'"></md-checkbox>
              </md-list-item>
              <md-list-item ng-click="vm.filterDateList('month')">
                  <p>{{translate('month_filter')}}</p>
                  <md-checkbox class="md-secondary" ng-checked="vm.listFilterSelected.date == 'month'"></md-checkbox>
              </md-list-item>
              <md-divider></md-divider>

          </md-list>
      </md-content>
    </md-sidenav>

    <!-- listing -->
    <div flex layout="column" class="cb-listing">

      <!-- List Header -->
      <md-toolbar class="cb-toolbar cb-white cb-border-b">
        <div class="md-toolbar-tools">
          <md-button
            aria-label="filter"
            class="md-secondary md-icon-button"
            ng-click="vm.filtersOpened = true"
            ng-disabled="vm.filtersOpened">
              <md-icon class="material-icons">filter_list</md-icon>
          </md-button>
          <md-button
            aria-label="Upload files"
            class="md-raised md-accent cb-primary-action"
            md-colors="{background: 'blue'}"
            ng-click="vm.addFiles($event)">
              {{translate('btn_add')}}
          </md-button>
        </div>
      </md-toolbar>

      <!-- List Body -->
      <md-content flex layout="column">

        <div layout="row" layout-align="center start" ng-hide="vm.ready">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <div class="" ng-show="vm.ready" layout="column" flex>

          <!-- Empty State -->
          <div ng-if="vm.empty" layout="column" layout-align="center center" flex>
            <div>
              <md-icon
                class="material-icons"
                style="font-size:48px; height:48px; width: 48px; color:rgba(0,0,0,0.12);">
                library_books
              </md-icon>
            </div>
            <h2 class="md-display-1" style="margin-bottom:8px;">{{translate('no_items_label')}}</h2>
            <div class="md-body-1">{{translate('no_items_info')}}</div>
          </div>
          <div layout="row" layout-wrap layout-margin>
            <md-card ng-repeat="item in vm.list"  ng-click="vm.selectModel(item, $event)" style="width: 300px; position: relative;">
              <div
                layout="column" layout-align="center center"
                style="width:300px; height:200px; background:#ccc;" 
                ng-if="!item.isImage()">
                <div>
                  <md-icon ng-if="item.isDocument()" class="material-icons" style="font-size: 50px; height: 50px; width: 50px;">description</md-icon>
                  <md-icon ng-if="item.isVideo()" class="material-icons" style="font-size: 50px; height: 50px; width: 50px;">videocam</md-icon>
                  <md-icon ng-if="item.isAudio()" class="material-icons" style="font-size: 50px; height: 50px; width: 50px;">audiotrack</md-icon>
                </div>
                <div>
                  <p style="text-align: center;">{{item.get('name')}}</p>
                </div>
              </div>
              <div 
                layout="column" layout-align="center center"
                style="width:300px; height:200px; background:#ccc; padding: 16px;" 
                ng-if="item.isImage() && !item.isLoaded">
                <div>
                  <md-icon class="material-icons" style="font-size: 50px; height: 50px; width: 50px;">insert_photo</md-icon>
                </div>
                <div >
                  <p style="text-align: center; word-wrap: break-word;">{{item.get('name')}}</p>
                </div>
                
              </div>
              <img ng-if="item.isImage() && item.isLoaded" ng-src="{{item.getAdminImageUrl()}}" class="md-card-image" alt="Washed Out" >
              <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-button" aria-label="Favorite" ng-click="vm.editFile(item, $event); $event.stopPropagation();">
                 {{translate('btn_edit')}}
                </md-button>
                <md-button class="md-button" aria-label="Favorite" ng-click="vm.deleteFile(item, $event); $event.stopPropagation();">
                 {{translate('btn_delete')}}
                </md-button>
              </md-card-actions>
              <div 
                ng-if="vm.modelBusy(item)"
                class="card-loader"
                style="
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: rgba(255,255,255,.87);">
              </div>

            </md-card>
          </div>

        </div>
      </md-content>
    </div>

    <!-- info / details -->
    <md-sidenav
      class="md-sidenav-right cb-info-sidenav"
      md-component-id="info-sidenav"
      md-disable-backdrop
      md-is-open="vm.isOpenSidenav()"
      md-is-locked-open="vm.isLockedOpenSidenav()"
      layout="column">

      <md-toolbar class="cb-transparent cb-border-b">
        <div class="md-toolbar-tools">
          <h3>{{translate('info_label')}}</h3>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="vm.removeSelection()">
            <md-icon class="material-icons">close</md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-toolbar class="cb-transparent cb-border-b">
        <div class="md-toolbar-tools">
          <span flex></span>
          <!-- <md-button class="md-raised" ng-click="vm.viewEntity(vm.selectedModel)">
            {{translate('btn_detail')}}
          </md-button> -->
          <md-button class="md-raised" ng-click="vm.editFile(vm.selectedModel)">
            {{translate('btn_edit')}}
          </md-button>
          <md-button class="md-button" ng-click="vm.deleteFile(vm.selectedModel)">
            {{translate('btn_delete')}}
          </md-button>
        </div>
      </md-toolbar>

      <md-content flex layout="column">
        <div class="md-padding">
          <video ng-src="{{vm.trustSrc(vm.selectedModel.getUrl())}}" type="{{vm.selectedModel.get('mime_type')}}" controls autoplay="autoplay" preload="auto" ng-click="pauseOrPlay()" style=" width: 100%; height: 245px;" ng-if="vm.selectedModel.isVideo()">
            Your browser does not support the video tag.
          </video>

          <img ng-src="{{vm.selectedModel.getAdminImageUrl()}}" ng-if="vm.selectedModel.isImage()" style=" width: 100%;">

          <div
            layout="column" layout-align="center center"
            style="width:100%; height:245px; background:#ccc;" 
            ng-if="vm.selectedModel.isDocument()">
            <div>
              <md-icon ng-if="vm.selectedModel.isDocument()" class="material-icons" style="font-size: 50px; height: 50px; width: 50px;">description</md-icon>
            </div>
            <div>
              <p style="text-align: center;">{{vm.selectedModel.get('name')}}</p>
            </div>
          </div>

          <div class="kv-list">

            <!-- name -->
            <div class="kv-list-item">
              <div class="key">{{translate('file_name_label')}}</div>
              <div 
                class="value" 
                ng-if="vm.selectedModel.get('name')"
                ng-bind-html="vm.selectedModel.get('name')">
              </div>
              <div class="value" ng-if="!vm.selectedModel.get('name')">
                <span class="md-caption">&ndash;</span>
              </div>
            </div>

            <!-- extension -->
            <div class="kv-list-item">
              <div class="key">{{translate('file_extension_label')}}</div>
              <div 
                class="value" 
                ng-if="vm.selectedModel.get('extension')"
                ng-bind-html="vm.selectedModel.get('extension')">
              </div>
              <div class="value" ng-if="!vm.selectedModel.get('extension')">
                <span class="md-caption">&ndash;</span>
              </div>
            </div>

            <!-- mime_type -->
            <div class="kv-list-item">
              <div class="key">{{translate('file_mime_type_label')}}</div>
              <div 
                class="value" 
                ng-if="vm.selectedModel.get('mime_type')"
                ng-bind-html="vm.selectedModel.get('mime_type')">
              </div>
              <div class="value" ng-if="!vm.selectedModel.get('mime_type')">
                <span class="md-caption">&ndash;</span>
              </div>
            </div>

            <!-- size -->
            <div class="kv-list-item">
              <div class="key">{{translate('file_size_label')}}</div>
              <div 
                class="value" 
                ng-if="vm.selectedModel.get('size')"
                ng-bind-html="vm.selectedModel.get('size')">
              </div>
              <div class="value" ng-if="!vm.selectedModel.get('size')">
                <span class="md-caption">&ndash;</span>
              </div>
            </div>

            <!-- created_at -->
            <div class="kv-list-item">
              <div class="key">{{translate('file_created_at_label')}}</div>
              <div 
                class="value" 
                ng-if="vm.selectedModel.get('created_at')">
                {{vm.selectedModel.get('created_at') | amDateFormat:'DD/MM/YYYY'}}
              </div>
              <div class="value" ng-if="!vm.selectedModel.get('created_at')">
                <span class="md-caption">&ndash;</span>
              </div>
            </div>

            <!-- updated_at -->
            <div class="kv-list-item">
              <div class="key">{{translate('file_updated_at_label')}}</div>
              <div 
                class="value" 
                ng-if="vm.selectedModel.get('updated_at')">
                {{vm.selectedModel.get('updated_at') | amDateFormat:'DD/MM/YYYY'}}
              </div>
              <div class="value" ng-if="!vm.selectedModel.get('updated_at')">
                <span class="md-caption">&ndash;</span>
              </div>
            </div>

            <!-- caption -->
            <div class="kv-list-item">
              <div class="key">{{translate('file_caption_label')}}</div>
              <div 
                class="value" 
                ng-if="vm.selectedModel.get('caption')"
                ng-bind-html="vm.selectedModel.get('caption')">
              </div>
              <div class="value" ng-if="!vm.selectedModel.get('caption')">
                <span class="md-caption">&ndash;</span>
              </div>
            </div>

            <!-- description -->
            <div class="kv-list-item">
              <div class="key">{{translate('file_description_label')}}</div>
              <div 
                class="value" 
                ng-if="vm.selectedModel.get('description')"
                ng-bind-html="vm.selectedModel.get('description')">
              </div>
              <div class="value" ng-if="!vm.selectedModel.get('description')">
                <span class="md-caption">&ndash;</span>
              </div>
            </div>


          </div>
        </div>
      </md-content>
    </md-sidenav>
  </div>

</div>

<div ui-view layout="column" flex ng-show="!vm.isListing()"></div>
