<!-- Display Asset Mode -->
<div ng-if="!handler.selectionMode">
	<md-toolbar class="cb-list-toolbar" layout="row">
		<div class="md-toolbar-tools">
			<span flex></span>
			<md-button class="md-raised md-secondary"
		                 ng-click="handler.addAsset()" ng-disabled="handler.loadingItems" ng-if="handler.empty || handler.multiple" >
		        {{handler.$rootScope.translate('btn_add')}}
		    </md-button>
		</div>
	</md-toolbar>
	<md-content flex layout="column" class="relation-listing">
		<md-progress-linear md-mode="query" ng-disabled="!handler.loadingItems"></md-progress-linear>
		<!-- Empty State -->
        <div 
        	ng-if="handler.empty && !handler.loadingItems" 
        	ng-click="handler.addAsset()" 
        	layout="column" 
        	layout-align="center center" 
        	class="cb-clickable cb-hover"
        	flex>
            <div>
              <md-icon
                class="material-icons"
                style="font-size:48px; height:48px; width: 48px; color:rgba(0,0,0,0.12);">
                note_add
              </md-icon>
            </div>
            <h3 class="md-title" style="margin-bottom:8px;">{{handler.$rootScope.translate('empty_asset_field_notice')}}</h3>
            <div class="md-body-1">{{handler.$rootScope.translate('empty_asset_field_instructions')}}</div>
        </div>

        <!-- Not Empty -->
		<div class="relation-content" ng-if="!handler.empty" layout="column" flex>

			<!-- Loading Items -->
			<div 
	        	ng-if="handler.loadingItems" 
	        	layout="column" 
	        	layout-align="center center" 
	        	flex>
	            <h3 class="md-title" style="margin-bottom:8px;">{{handler.$rootScope.translate('please_wait_text')}}</h3>
	        </div>

	        <!-- Multiple Items -->
			<div 
				ng-if="handler.multiple && !handler.loadingItems" 
				style="padding: 8px;"
				layout 
				layout-wrap 
				flex>

				<div 
					ng-repeat="item in handler.getValue().models" 
		        	class="cb-media-item md-whiteframe-1dp actionable" 
		        	ng-class="{'cb-media-last-item': ($index%3 == 2)}"
		        	layout="column">
		        	
		        	<div class="cb-media-wrap" layout layout-align="center center">
		        		<md-progress-circular 
		        			ng-if="handler.getFileType(handler.getAsset(item)) == 'image' && !handler.isLoaded(handler.getAsset(item))" 
		        			md-diameter="20px">
		        			
		        		</md-progress-circular>
			        	<img 
				          	ng-src="{{handler.getAdminImage(handler.getAsset(item))}}" 
				          	ng-if="handler.getFileType(handler.getAsset(item)) == 'image' && handler.isLoaded(handler.getAsset(item))" 
				          	alt="handler.getCaption(handler.getAsset(item))" />
			          	<div 
			          		layout="column" 
			          		layout-align="center center" 
			          		ng-if="handler.getFileType(handler.getAsset(item)) != 'image'"
			          		style="width:100%;">

			          		<md-icon class="material-icons">insert_drive_file</md-icon>
			          		<h3 class="md-subhead" style="max-width:90%; word-wrap:break-word;">
			          			{{handler.getFileName(handler.getAsset(item))}}
			          		</h3>
			          	</div>
			        </div>

			        <div class="cb-media-action" layout layout-align="end center">
						<md-button ng-click="handler.removeAsset(item)" >
					      {{handler.$rootScope.translate('btn_remove')}}
					    </md-button>
					</div>

		        </div>
		    </div>

			<!-- Single Item -->
			<div
				ng-if="handler.single && !handler.loadingItems" 
				layout-align="center center" 
				layout 
				flex>
		        <div 
		        	class="cb-media-item md-whiteframe-1dp actionable" 
		        	layout="column">
		        	
		        	<div class="cb-media-wrap" layout layout-align="center center">
		        		<md-progress-circular 
		        			ng-if="handler.getFileType(handler.getAsset(handler.getValue())) == 'image' && !handler.isLoaded(handler.getAsset(handler.getValue()))" 
		        			md-diameter="20px">
		        			
		        		</md-progress-circular>
			        	<img 
			          	ng-src="{{handler.getAdminImage(handler.getAsset(handler.getValue()))}}" 
			          	ng-if="handler.getFileType(handler.getAsset(handler.getValue())) == 'image' && handler.isLoaded(handler.getAsset(handler.getValue()))" 
			          	alt="handler.getCaption(handler.getAsset(handler.getValue()))" />
			          	<div 
			          		layout="column" 
			          		layout-align="center center" 
			          		ng-if="handler.getFileType(handler.getAsset(handler.getValue())) != 'image'" 
			          		style="width:100%;">

			          		<md-icon class="material-icons">insert_drive_file</md-icon>
			          		<h3 class="md-subhead" style="max-width:90%; word-wrap:break-word;">
			          			{{handler.getFileName(handler.getAsset(handler.getValue()))}}
			          		</h3>
			          	</div>
			        </div>

			        <div class="cb-media-action" layout layout-align="end center">
						<md-button ng-click="handler.removeAsset()" >
					      {{handler.$rootScope.translate('btn_remove')}}
					    </md-button>
					</div>

		        </div>
		    </div>
		</div>
	</md-content>
</div>

<!-- Select Asset Mode  -->
<div ng-if="handler.selectionMode">

	<div class="cb-white">
		<md-nav-bar 
			md-selected-nav-item="'index'+handler.uploaderActive" 
			nav-bar-aria-label="navigation links">
			<md-nav-item md-nav-click="handler.uploaderActive = 0" name="index0">{{handler.$rootScope.translate('library_label')}}</md-nav-item>
			<md-nav-item md-nav-click="handler.uploaderActive = 1" name="index1">{{handler.$rootScope.translate('upload_label')}}</md-nav-item>
		</md-nav-bar>
	</div>

	<!-- body  -->
	<md-content flex layout="column" ng-show="!handler.uploaderActive">
		<md-progress-linear md-mode="query" ng-disabled="handler.selectionReady"></md-progress-linear>
		<div layout class="selection-listing">

			<!-- Empty State -->
	        <div 
	        	ng-if="handler.selectionEmpty && handler.selectionReady" 
	        	layout="column" 
	        	layout-align="center center" 
	        	class="cb-clickable cb-hover" 
	        	ng-click="handler.uploaderActive = 1"
	        	flex>
	            <div>
	              <md-icon
	                class="material-icons"
	                style="font-size:48px; height:48px; width: 48px; color:rgba(0,0,0,0.12);">
	                filter_none
	              </md-icon>
	            </div>
	            <h3 class="md-title" style="margin-bottom:8px;">{{handler.$rootScope.translate('empty_library_label')}}</h3>
	            <div class="md-body-1">{{handler.$rootScope.translate('empty_library_instructions')}}</div>
	        </div>
	        <div ng-if="handler.selectionReady && !handler.selectionEmpty" flex>
	        <!-- Not Empty -->
			<md-virtual-repeat-container  class="selection-listing" layout="row">
			    
			    <div md-virtual-repeat="row in handler.dynamicItems"
			         md-on-demand
			         class="cb-media-row">
			        <div 
			        	class="cb-media-item cb-item" 
			        	ng-repeat="item in row" 
			        	ng-click="handler.itemClicked(item)" 
			        	ng-class="{selected: handler.isSelected(item)}"
			        	layout="column">
			        	
			        	<span class="cb-media-selected">
			        		<md-icon class="material-icons">
								check_circle
							</md-icon>
			        	</span>
			        	<div class="cb-media-wrap" layout layout-align="center center">
			        		<md-progress-circular ng-if="handler.getFileType(item) == 'image' && !handler.isLoaded(item)" md-diameter="20px"></md-progress-circular>
				        	<img 
				          	ng-src="{{handler.getAdminImage(item)}}" 
				          	ng-if="handler.getFileType(item) == 'image' && handler.isLoaded(item)" 
				          	alt="item.get('caption')" />
				          	<div layout="column" layout-align="center center" ng-if="handler.getFileType(item) != 'image'" style="width:100%;">
				          		<md-icon class="material-icons">insert_drive_file</md-icon>
				          		<h3 class="md-subhead" style="max-width:90%; word-wrap:break-word;">{{handler.getFileName(item)}}</h3>
				          	</div>
				        </div>

			        </div>
			      
			    </div>
			</md-virtual-repeat-container>
			</div>
		</div>
	</md-content>

	<md-content flex layout="column"  ng-show="handler.uploaderActive">
		
			
		<media-uploader 
			files="handler.uploaderFiles" 
			selection="handler.selectedItems" 
			multiple-selection="handler.multipleSelection"
			params="handler.uploaderParams">
		</media-uploader>

		
	</md-content>

	<!-- footer  -->
	<md-toolbar class="cb-list-footer">
	  <div class="md-toolbar-tools">
	    <div class="selection-status"
	         layout layout-align="start center" 
	         ng-show="handler.hasSelectedItems()">
	      <md-button class="md-icon-button clear-selected" ng-click="handler.clearSelected()">
	        <md-icon class="material-icon">close</md-icon>
	      </md-button>
	      <span class="separator"></span>
	      <span class="selection-text">{{ handler.selectedItemsCount() }} {{handler.$rootScope.translate('selected_label')}}</span>
	    </div>
	    <span flex></span>
	    <div class="">
			<md-button ng-click="handler.cancelSelection()" >
				{{handler.$rootScope.translate('btn_cancel')}}
			</md-button>
			<md-button 	class="md-raised md-secondary"
						ng-click="handler.handleSelection()" 
						ng-disabled="!handler.hasSelectedItems()">
				{{handler.$rootScope.translate('btn_done')}}
			</md-button>
	    </div>
	  </div>
	</md-toolbar>
</div>

<cb-multiselect 
	style="display: none;" 
	ng-model="handler.entity.attributes.fields[handler.fieldCode]" 
	name="field-{{handler.fieldCode}}" 
	ng-required="handler.attribute.attributes.required" >
	
</cb-multiselect>
<div ng-messages="handler.form['field-'+handler.fieldCode].$error" ng-show="handler.form.$submitted || handler.form['field-'+handler.fieldCode].$dirty">
	<div ng-message="required">{{handler.fieldName}} is required.</div>
</div>
