<div layout="row" class="selection-listing" id="plupload-dd-area">

	<div flex layout="column">
		<div 
			class="plupload-dir" 
			plupload-droparea 
			instance="mu.instance" 
			drop-element="mu.$element" 
			params="mu.params"
			layout="column"
			flex>
			Plupload not loaded.
		</div>
	</div>

	<div class="cb-uploader-files-list" flex="65" layout="column" ng-if="mu.hasFiles()">
		<div ng-repeat="item in mu.uploads" 
			class="repeated-item cb-item" 
			ng-click="mu.itemClicked(item)" 
			ng-class="{selected: mu.isSelected(item.model)}" 
			layout>
			
			<!-- File Uploading -->
			<div class="cb-item-loader" ng-show="item.status == 'uploading'">
				<md-progress-linear md-mode="determinate" value="{{item.progress}}" ></md-progress-linear>
			</div>
			<div class="cb-item-inner" ng-if="item.status == 'added' || item.status == 'uploading'">
				<div class="cb-item-text" layout="column">
					<h3 class="cb-item-title">{{item.pluploadFile.name}}</h3>
					<div class="cb-entity-status" layout layout-align="start center">
						<span class="cb-status-text">{{mu.$rootScope.translate('file_size_label')}}: {{item.pluploadFile.size}}b {{mu.$rootScope.translate('file_type_label')}}: {{item.pluploadFile.type}}</span>
					</div>
				</div>
				<div class="cb-item-action">
					<md-button ng-click="mu.removeItem(item)" >
				      {{mu.$rootScope.translate('btn_cancel')}}
				    </md-button>
				</div>
		    </div>

			<!-- File Uploaded -->
			<div class="cb-item-inner" ng-if="item.status == 'uploaded'">

				<md-checkbox ng-checked="mu.isSelected(item.model)"
			                     ng-show="mu.multipleSelection && !mu.selectionDisabled()"></md-checkbox>

				<div class="cb-item-media">
		          <img 
		          	ng-src="{{mu.getAdminThumb(item.model)}}" 
		          	ng-if="mu.getFileType(item.model) == 'image' && mu.isLoaded(item.model)" 
		          	class="md-avatar" 
		          	alt="mu.getCaption(item.model)" />

		          <md-progress-circular 
		          	md-mode="indeterminate" 
		          	ng-if="mu.getFileType(item.model) == 'image' && !mu.isLoaded(item.model)">
		          	
		          </md-progress-circular>
		          <md-icon class="material-icon" ng-if="mu.getFileType(item.model) != 'image'">insert_drive_file</md-icon>
		        </div>

				<div class="cb-item-text" layout="column">
					<h3 class="cb-item-title">{{mu.getCaption(item.model)}}</h3>
					<div class="cb-entity-status" layout layout-align="start center">
						<span class="cb-status-text">{{mu.getFileName(item.model)}}</span>
					</div>
				</div>
		    </div>

		    <!-- File Error -->
		    <div class="cb-item-inner" ng-if="item.status == 'error'">
				<div class="cb-item-text" layout="column">
					<h3 class="cb-item-title">{{item.pluploadFile.name}} - Error</h3>
					<div class="cb-entity-status" layout layout-align="start center">
						<span class="cb-status-text">{{item.message}}</span>
					</div>
				</div>
				<div class="cb-item-action">
					<md-button ng-click="mu.removeItem(item)" >
				      {{mu.$rootScope.translate('btn_remove')}}
				    </md-button>
				</div>
		    </div>
		</div>
	</div>

</div>