
<md-input-container class="md-block" flex>
	<textarea 
		name="field-{{handler.fieldCode}}" 
		ng-model="handler.entity.attributes.fields[handler.attribute.attributes.code]" 
		ng-model-options="{ debounce: 400 }" 
		ng-required="handler.attribute.attributes.required" 
		entity-field-unique="handler.entity" 
		entity-field-attribute="handler.attribute" 
		rows="5" 
		md-select-on-focus 
		aria-label="fields {{handler.fieldCode}}" >
	</textarea>
	<div ng-messages="handler.form['field-'+handler.fieldCode].$error"  ng-show="handler.form.$submitted">
		<div ng-message="required">{{handler.fieldName}} is required.</div>
		<div ng-message="unique">{{handler.fieldName}} already taken.</div>
	</div>
</md-input-container>